<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Tamal Crud  Project</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li *ngIf="userService.isLoggedIn()" class="nav-item">
          <a class="nav-link active" aria-current="page" [routerLink]="['/addProduct']">Add</a>
        </li>
       
      </ul>
      <ul *ngIf="userService.isLoggedIn()" class="navbar-nav me-4 d-flex">
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            {{userDetails.fullName}}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" [routerLink]="['/dashboard']">Dashboard</a></li>
             <li><a class="dropdown-item" [routerLink]="['/userprofile']">Profile</a></li>
            <li> <a class="dropdown-item" (click)="onLogout()" value="Logout"><button type="button" class="btn btn-danger">Logout</button></a></li>
          </ul>
        </li>

      </ul>
     
    </div>
  </div>
</nav>